<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag "all" %>

    <title>Death By Traffic</title>
    <%#= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
  </head>
  <body>

    <div id="main" role="main">
      <!-- <div class="header"> -->
        <!--   <h1>Death by Traffic</h1> -->
        <!-- </div> -->

      <div class="lead">
        <p>In Toronto, in 2016 so far, there have been <br/><span class="strong">16</span><br/> pedestrian or cyclist deaths.</p>

        <p>Traffic in Toronto is dangerous for <b>everyone</b>.<br/>It doesn't have to be this way.</p>
        <p class="nav">What's going on? / How are people killed? / Where does this happen? / What can we do about it?</p>

      <hr/>
      </div>


      <div class="what">
        <%= partial "content" %>
      </div>

    </div>

  </body>
</html>
